.FieldSet--ShippingMethod .RadioButton {
  border: 1px solid #D9D9D9;
  margin-bottom: 0;
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  cursor: pointer;
  position: relative;
}

.FieldSet--ShippingMethod .RadioButton .stx-radio-field__label {
  position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    padding-left: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    width: 100%;
}

.FieldSet--ShippingMethod .RadioButton .stx-field {
  position: unset;
}
.FieldSet--ShippingMethod .RadioButton .stx-radio {
  position: unset;
}

.FieldSet--ShippingMethod .RadioButton .stx-radio-field {
  display: flex;
  align-items: center;
}

.FieldSet--ShippingMethod .RadioField {
  margin-bottom: 0;
  padding-left: 0;
}

.FieldSet--ShippingMethod .ShippingMethod__Price .stx-price__amount {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}
