.DiscountForm {
  display: flex;
}

.DiscountForm .stx-input {
  flex: 2;
}

.DiscountForm .stx-input input {
  line-height: 30px;
}

.DiscountForm button.stx-button .stx-button__text {
  text-transform: capitalize;
 }


.DiscountForm button.stx-button {
  flex: 0.5
}

.Summary__DiscountForm .DiscountForm__error {
  color: #FF1A2D;
}

@media screen and (max-width: 599px) {
  .DiscountForm {
    flex-direction: column;
  }

  .DiscountForm .stx-input {
    flex: 1;
    margin: 0 0.25rem 10px 0.25rem;

  }

  .DiscountForm button.stx-button {
    flex: 1
  }
}
