.ViewSummaryWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion__content {
  transition: display 0.6s ease;
}

.SummaryHeader {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  padding-left: 16px;
}

.SummaryHeader::before {
  display: block;
  content: '>';
  position: absolute;
  left: 0;
  color: #A1A1A1;
  font-size: 15px;
  margin-right: 9px;
}

.SummaryHeader.open::before {
  transform: rotate(90deg);
}

.ViewSummaryWrapper .SummaryHeader--items {
  display: flex;
  align-items: center;
}

.ViewSummaryWrapper .SummaryHeader--items .stx-price {
  margin-left: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 320px) {
  .ViewSummaryWrapper .SummaryHeader--items .stx-price .stx-price__amount,
  .ViewSummaryWrapper .SummaryHeader--items  {
    font-weight: normal;
    font-size: 14px;
  }
  .ViewSummaryWrapper .SummaryHeader--items {
    display: flex;
    flex-direction: column;
  }
  .ViewSummaryWrapper .SummaryHeader--items .stx-price {
    margin-left: 0;
  }
}

.Checkout__Main.Checkout__Main--Overlay {
    cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}
