.FieldSet--PaymentMethod .FieldSet__Content iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  .FieldSet--PaymentMethod .FieldSet__Content iframe .ToggleField__Input:checked {
    box-shadow: 0 0 0 5px #0099cc inset;
  }
  