* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

html {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.Checkout--Collapsed {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}
.Checkout__Main.Checkout__Main--Overlay:after {
    top: 0;
    background-color: rgba(0,0,0,0.25);
    content: "";
    display: block;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.Checkout--Collapsed .Checkout__Summary,
.Checkout--Collapsed .Checkout__Main {
  flex: 1;
  padding: 20px 35px;
}

.Checkout__Summary--Hidden,
.Checkout__Main--Hidden {
  display: none;
}
.Checkout__Summary.Checkout__Summary--Collapsed.Checkout__Summary--Hidden {
  display: none;
}

@media screen and (max-width: 320px) {
  .Checkout--Collapsed .Checkout__Summary,
  .Checkout--Collapsed .Checkout__Summary.Checkout__Summary--Collapsed {
    padding: 13px 15px;
  }
}


.Checkout__Summary.Checkout__Summary--Collapsed {
  padding: 20px 35px;
}

.Checkout--Collapsed .Checkout__Main,
.Checkout--Collapsed .accordion__content {
  max-width: 680px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.Checkout--Collapsed .accordion__content {
  overflow-y: auto;
  padding: 0 18px;
  overscroll-behavior: contain;
}

.Checkout--Collapsed .Checkout__Summary {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  flex: none;
  display: flex;
  flex-direction: column;
}

.FieldSet {
  margin: 2rem 0;
  padding: 0;
}

.FieldSet__Header {
  margin-bottom: 20px;
}

.FieldSet__Heading {
  font-size: 20px;
  line-height: 30px;
  padding: 0 5px;
}

.FieldGroup {
  margin: 5px 0;
  display: flex;
}

.Field {
  padding: 5px;
  margin: 0 5px;
}


.SelectField {
  margin: 0 5px;
  display: block;
  cursor: pointer;
}

.Checkout__Summary {
  background: #FAFAFB;
  z-index: 9;
}

.SummaryBlock {
  position: relative;
  padding: 20px 0;
}

.SummaryBlock::after {
  content: '';
  display: block;
  background: rgba(0, 0, 0, 0.0001);
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
}
.Checkout--Collapsed .ViewSummaryWrapper {
  max-width: 680px;
  margin: 0 auto;
  width: 100%;
}

.Checkout__Main {
  overflow-y: scroll;
}